<div class="modal-header">
    <h3 class="modal-title">
        {{::$root.dataTablarDictionary.phraseSupportProcess}}
    </h3>
</div>
<div class="modal-body dttb-modal-body">
    <p>Please follow the process below to solve the error:</p>
    <ol>
        <li>Identify the warning message in browser console. (If have any)</li>
        <li>Contact your developer to verify the <b class="text-danger">data-tablar</b> table configuration.</li>
        <li>Send require support email to <b class="text-danger">{{::$root.dataTablarHelpEmail}}</b>. Please provide me the details of issue, which might be:</li>
        <ul>
            <li>Capture screen of the issue.</li>
            <li>Warning message in the console.</li>
            <li>Other description, etc.</li>
        </ul>
    </ol>
    <blockquote>
        <p>Thanks for choosing <b class="text-danger">data-tablar</b>!</p>
        <footer>
            <cite title="Data-tablar author">bangdc</cite>
        </footer>
    </blockquote>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="closeThisDialog()">
        <i class="fa fa-close"></i>
        <span>{{::$root.dataTablarDictionary.wordCancel}}</span>
    </button>
</div>
