<div class="modal-header">
    <h3 class="modal-title">
    	{{::$root.dataTablarDictionary.titleModalCreate}}
    </h3>
</div>
<div class="modal-body dttb-modal-body">
	<div 
		ng-repeat="field in fields track by $index" 
		ng-switch="field.formType">
		<!--Form Type: input -->
      	<dttb-form-input
	        type="{{::field.dataType}}"
	        config="field.formTypeConfig"
	        label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        ng-switch-when="input"></dttb-form-input>
      	<!--Form Type: textarea -->
      	<dttb-form-textarea
	        config="field.formTypeConfig"
	        label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        ng-switch-when="textarea"></dttb-form-textarea>
      	<!--Form Type: selectsingle -->
      	<dttb-form-selectsingle
	        ng-switch-when="selectSingle"
	        label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        config="field.formTypeConfig"></dttb-form-selectsingle>
      	<!--Form Type: selectmultiple -->
      	<dttb-form-selectmultiple
	        ng-switch-when="selectMultiple"
	        label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        config="field.formTypeConfig"></dttb-form-selectmultiple>
      	<!--Form Type: datepicker -->
      	<dttb-form-datepicker
	        ng-switch-when="datePicker"
	        label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        config="field.formTypeConfig"></dttb-form-datepicker>
      	<!--Form Type: radio -->
      	<dttb-form-radio
	        ng-switch-when="radio"
	        label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        config="field.formTypeConfig"></dttb-form-radio>
      	<!--Form Type: typeahead -->
      	<dttb-form-typeahead
	        ng-switch-when="typeahead"
	        label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        config="field.formTypeConfig"></dttb-form-typeahead>
	    <!--Formtype boolean-->
      	<dttb-form-boolean
            ng-switch-when="boolean"
            label="{{::field.label}}"
	        model="rowModel[field.key]"
	        validations="field.validations"
	        valid="field.valid"
	        config="field.formTypeConfig"></dttb-form-boolean>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="confirmDialog()">
    	<i class="fa fa-check"></i>
    	<span>{{::$root.dataTablarDictionary.wordSubmit}}</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeDialog()">
    	<i class="fa fa-close"></i>
    	<span>{{::$root.dataTablarDictionary.wordCancel}}</span>
    </button>
</div>