<div class="modal-header">
    <h3 class="modal-title">
    	{{::$root.dataTablarDictionary.titleModalDetail}}
    </h3>
</div>
<div class="modal-body dttb-modal-body">
	<table class="table table-bordered table-condensed ">
	  	<tbody>
		    <tr ng-repeat="column in columns track by column.key">
	      		<th class="active">{{::column.label}}</th>
		      	<td ng-class="{'dttb-text-rtl': column.RTLtext}">
					<span ng-switch="column.displayAs">
	                  	<!--Image-->
	                  		<!--Special handle-->
		                <span ng-switch-when="image">
		                  <img 
		                    ng-click="zoomInImage(row[column.displayKey], column.label);" 
		                    ng-src="{{row[column.displayKey]}}" 
		                    class="img-thumbnail dttb-display-as-image" 
		                    alt="{{::column.label}}">
		                </span>
		                <!--Url-->
		                <span ng-switch-when="url">
		                  <a target="_blank" href="{{row[column.key]}}" title="{{::column.label}}">{{row[column.displayKey]}}</a>
		                </span>
		                <!--Email-->
		                <span ng-switch-when="email">
		                  <a target="_blank" href="mailto:{{row[column.key]}}" title="{{::column.label}}">
		                  	{{row[column.displayKey]}}
		                  </a>
		                </span>
		                <!--Html-->
		                <span ng-switch-when="html">
		                  <div ng-bind-html="row[column.displayKey]"></div>
		                </span>
		                <!--currency-->
		                  <span ng-switch-when="currency">
		                    {{row[column.displayKey] | dttbCellFormat:'currency':column.displayAsConfig}}
		                  </span>
		                <!--number-->
		                <span ng-switch-when="number">
		                  {{row[column.displayKey] | dttbCellFormat:'number':column.displayAsConfig}}
		                </span>
		                <!--ordinal-->
		                <span ng-switch-when="ordinal">
		                  {{row[column.displayKey] | dttbCellFormat:'ordinal'}}
		                </span>
		                <!--Text-->
		                <span ng-switch-when="text">
	                		<span ng-if="column.displayAsConfig && column.displayAsConfig.limitToLength">
			                    <abbr title="{{row[column.displayKey]}}">
			                      {{row[column.displayKey] | dttbCellFormat:'text':column.displayAsConfig}}
			                    </abbr>
		                  	</span>
		                  	<span ng-if="!column.displayAsConfig || !column.displayAsConfig.limitToLength">
			                    {{row[column.displayKey] | dttbCellFormat:'text':column.displayAsConfig}}
		                  	</span>
		                </span>
		                <!--array-->
		                <span ng-switch-when="array">
	                		<div ng-bind-html="row[column.displayKey] | dttbCellFormat:'array':column.displayAsConfig"></div>
		                </span>
		                <!--Boolean-->
	                  	<span ng-switch-when="boolean">
                    		<div ng-bind-html="row[column.displayKey] | dttbCellFormat:'boolean':column.displayAsConfig"></div>
	                  	</span>
	                  	<!--Date-->
		                <span ng-switch-when="date">
		                  {{row[column.displayKey] | dttbCellFormat:'date':column.displayAsConfig}}
		                </span>
		                <!--default-->
		                <span ng-switch-default>
		                  {{row[column.displayKey]}}
		                </span>
	                </span>
	         	</td>
		    </tr>
	  	</tbody>
	</table> 
</div>
<div class="modal-footer">
    <button ng-if="updatable" class="btn btn-primary btn-sm" type="button" ng-click="confirmDialog()">
    	<i class="fa fa-pencil"></i>
    	<span>{{::$root.dataTablarDictionary.wordUpdate}}</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeDialog()">
    	<i class="fa fa-close"></i>
    	<span>{{::$root.dataTablarDictionary.wordCancel}}</span>
    </button>
</div>