<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{::$root.dataTablarDictionary.phraseHighlightDataPanel}}</b>
  </div>
  <div class="panel-body">
    <div 
      class="row" 
      ng-repeat="column in dttb.config.columns track by $index" 
      ng-if="column.highlights">
      <div class="col-lg-12">
        <h5>
          <b>{{::column.label}}</b>          
        </h5>
        <table class="table">
          <tbody>
            <tr ng-repeat="highlight in column.highlights track by $index">
              <td width="10%">
                <a href="" ng-click="dttb.toggleCellHighlight(column, highlight);">
                  <i class="fa fa-toggle-off" ng-if="!highlight.active" title="{{::$root.dataTablarDictionary.phraseEnableHighlight}}"></i>
                  <i class="fa fa-toggle-on" ng-if="highlight.active" title="{{::$root.dataTablarDictionary.phraseDisableHighlight}}"></i>
                </a>
              </td>
              <td><label class="label label-default">{{::highlight.condition}}</label></td>
              <td>{{::highlight.value}}</td>
              <td width="20%" class="{{::highlight.type}}">Abc123</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>