<div class="panel panel-default">
    <div class="panel-heading">
      <b>{{::$root.dataTablarDictionary.phraseLocalSortingPanel}}</b>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr ng-repeat="column in dttb.config.columns track by $index" ng-if="!column.hidden">
                    <th>
                        <span>{{::column.label}}</span>
                        <a 
                          href="" 
                          class="btn btn-sm btn-default pull-right" 
                          ng-class="{
                          'btn-success': dttb.tableState.localSortingCol === column.key, 
                          'btn-default': dttb.tableState.localSortingCol !== column.key}" 
                          ng-click="dttb.sortByColLocal(column.key);">
                            <span ng-if="dttb.tableState.localSortingCol !== column.key">
                              <i class="fa fa-unsorted" title="{{::$root.dataTablarDictionary.phraseSortBy}} {{::column.label}}"></i>
                            </span>
                            <span ng-if="dttb.tableState.localSortingCol === column.key">
                              <i ng-if="!dttb.tableState.localSortingDir" class="fa fa-sort-desc" title="{{::$root.dataTablarDictionary.phraseDescOrder}}"></i>
                              <i ng-if="dttb.tableState.localSortingDir" class="fa fa-sort-asc" title="{{::$root.dataTablarDictionary.phraseAscOrder}}"></i>
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="pull-right">
          <button 
            type="reset" 
            class="btn btn-default btn-sm" 
            ng-click="dttb.resetLocalSorting();">
            <span class="text-primary">
                <i class="fa fa-refresh"></i>
            </span>
            {{::$root.dataTablarDictionary.wordReset}}
          </button>
        </div>
    </div>
</div>
