<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{::$root.dataTablarDictionary.phraseFilterPanel}}</b>
  </div>
  <div class="panel-body">
    <div class="row" ng-repeat="field in dttb.config.actions.reading.filters track by $index">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <h4>
              <span  
                class="text-danger dttb-cursor-pointer"
                ng-click="field.active=!field.active;">
                <i 
                  title="{{::$root.dataTablarDictionary.phraseEnableFilter}}"
                  ng-if="!field.active"  
                  class="fa fa-toggle-off"></i>
                <i 
                  title="{{::$root.dataTablarDictionary.phraseDisableFilter}}"
                  ng-if="field.active"  
                  class="fa fa-toggle-on"></i>           
              </span>
              {{::field.label}}
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" ng-if="field.conditionOptions.length > 0">
            <select 
              title="{{field.condition}}" 
              class="form-control input-sm" 
              ng-disabled="!field.active" 
              ng-model="field.condition">
              <option disabled="" value="">{{::$root.dataTablarDictionary.phraseSelectFilterCondition}}</option>
              <option 
                ng-repeat="option in field.conditionOptions" 
                value="{{::option.value}}">{{::option.label}}</option>
            </select>
          </div>
          <div ng-class="{'col-lg-8': field.conditionOptions.length > 0, 'col-lg-12': !field.conditionOptions.length}">
            <input
              ng-if="!field.options.length && !(field.typeaheadAjaxRequestIndex > -1)"
              class="form-control input-sm" 
              ng-disabled="!field.active" 
              type="text" 
              placeholder="{{::field.placeholder}}" 
              ng-model="field.value">
            <dttb-form-typeahead
              disabled="!field.active"
              ng-if="field.options.length || field.typeaheadAjaxRequestIndex > -1"
              model="field.value"
              config="field"></dttb-form-typeahead>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="pull-right">
          <button 
            type="submit" 
            class="btn btn-primary btn-sm" 
            ng-click="dttb.submitFiltering();">
            <i class="fa fa-check"></i>
            {{::$root.dataTablarDictionary.wordSubmit}}
          </button>
          <button 
            type="reset" 
            class="btn btn-default btn-sm" 
            ng-click="dttb.resetFiltering();">
            <i class="fa fa-close"></i>
            {{::$root.dataTablarDictionary.wordCancel}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>