<li 
    ng-if="dttb.config.actions.creating" 
    title="{{::$root.dataTablarDictionary.titleNavCreateNew}}">
    <a ng-click="dttb.createRow();" href="">
        <i class="fa fa-plus"></i>
        <span>{{::$root.dataTablarDictionary.navCrateNew}}</span>
    </a>
</li>
<li 
    ng-class="{active: dttb.tableState.sidebarPanelsActive['filter']}" 
    ng-if="dttb.config.actions.reading.filters"
    title="{{::$root.dataTablarDictionary.titleNavFilter}}">
    <a href="" ng-click="dttb.toggleSidebarPanel('filter');">
        <i class="fa fa-filter"></i>
        <span>{{::$root.dataTablarDictionary.navFilter}}</span>
    </a>
</li>
<li 
    ng-class="{active: dttb.tableState.sidebarPanelsActive['highlight']}" 
    ng-if="dttb.config.table.displayNavHighlights"
    title="{{::$root.dataTablarDictionary.titleNavHighlight}}">
    <a href="" ng-click="dttb.toggleSidebarPanel('highlight');";">
        <i class="fa fa-paint-brush"></i> 
        <span>{{::$root.dataTablarDictionary.navHighlight}}</span>
    </a>
</li>
<li 
    ng-class="{active: dttb.tableState.sidebarPanelsActive['arrange-columns']}" 
    ng-if="dttb.config.table.displayNavArrange"
    title="{{::$root.dataTablarDictionary.titleNavArrangeCol}}">
    <a href="" ng-click="dttb.toggleSidebarPanel('arrange-columns');">
        <i class="fa fa-reorder"></i> 
        <span>{{::$root.dataTablarDictionary.navArrangeCol}}</span>
    </a>
</li>
<li 
    ng-class="{active: dttb.tableState.sidebarPanelsActive['local-sorting-columns']}" 
    ng-if="dttb.config.table.displayNavLocalSort"
    title="{{::$root.dataTablarDictionary.titleNavLocalSort}}">
    <a href="" ng-click="dttb.toggleSidebarPanel('local-sorting-columns');">
        <i class="fa fa-reorder"></i> 
        <span>{{::$root.dataTablarDictionary.navLocalSort}}</span>
    </a>
</li>
<li 
    class="dropdown" 
    ng-if="dttb.config.table.displayNavHideShow"
    title="{{::$root.dataTablarDictionary.titleNavHideShow}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
        <i class="fa fa-search"></i> 
        <span>{{::$root.dataTablarDictionary.navHideShow}}</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-if="dttb.config.actions.updating || dttb.config.actions.deleting">
            <a 
                href="" 
                ng-click="dttb.tableState.hiddenCheckColumn=!dttb.tableState.hiddenCheckColumn">
                <span 
                    title="{{::$root.dataTablarDictionary.wordShow}}" 
                    class="text-danger" 
                    ng-if="dttb.tableState.hiddenCheckColumn">
                    <i class="fa fa-times"></i>
                </span>
                <span 
                    title="{{::$root.dataTablarDictionary.wordHide}}" 
                    class="text-info" 
                    ng-if="!dttb.tableState.hiddenCheckColumn">
                    <i class="fa fa-thumb-tack"></i>
                </span> 
                <span>{{::$root.dataTablarDictionary.columnCheckbox}}</span>
            </a>
        </li>
        <li>
            <a  href="" 
                ng-click="dttb.tableState.hiddenActionsColumn=!dttb.tableState.hiddenActionsColumn">
                <span 
                    title="{{::$root.dataTablarDictionary.wordShow}}" 
                    class="text-danger" 
                    ng-if="dttb.tableState.hiddenActionsColumn">
                    <i class="fa fa-times"></i>
                </span>
                <span 
                    title="{{::$root.dataTablarDictionary.wordHide}}" 
                    class="text-info" 
                    ng-if="!dttb.tableState.hiddenActionsColumn">
                    <i class="fa fa-thumb-tack"></i>
                </span> 
                <span>{{::$root.dataTablarDictionary.columnActions}}</span>
            </a>
        </li>
        <li class="divider"></li>
        <li ng-repeat="column in dttb.config.columns track by $index">
            <a href="" ng-click="column.hidden=!column.hidden">
                <span 
                    title="{{::$root.dataTablarDictionary.wordShow}}" 
                    class="text-danger" 
                    ng-if="column.hidden">
                    <i class="fa fa-times"></i>
                </span>
                <span 
                    title="{{::$root.dataTablarDictionary.wordHide}}" 
                    class="text-info" 
                    ng-if="!column.hidden">
                    <i class="fa fa-thumb-tack"></i>
                </span>
                <span>{{column.label}}</span> 
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="" 
                title="{{::$root.dataTablarDictionary.titleNavHideShowRestore}}" 
                ng-click="dttb.restoreHiddenCols();">
                <span class="text-primary">
                    <i class="fa fa-refresh"></i>
                </span> 
                <span>
                    {{::$root.dataTablarDictionary.wordRestore}}
                </span>
            </a>
        </li>
    </ul>
</li>
<li 
    class="dropdown" 
    ng-if="dttb.config.table.displayNavLanguage"
    title="{{::$root.dataTablarDictionary.titleNavLanguage}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
        <i class="fa fa-language"></i> 
        <span>{{::$root.dataTablarDictionary.navLanguage}}</span> 
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-class="{'active': dttb.tableState.langKey == 'en_US'}">
            <a href="" ng-click="dttb.changeLanguage('en_US')">
                English
            </a>
        </li>
        <li ng-class="{'active': dttb.tableState.langKey == 'other'}" ng-if="dttb.config.table.otherLanguageLabel">
            <a href="" ng-click="dttb.changeLanguage('other')">
                {{::dttb.config.table.otherLanguageLabel}}
            </a>
        </li>
    </ul>
</li>
<li 
    ng-if="dttb.config.table.displayNavExport"
    title="{{::$root.dataTablarDictionary.titleNavExport}}">
    <a href="" ng-click="dttb.exportTable();">
        <i class="fa fa-save"></i> 
        <span>{{::$root.dataTablarDictionary.navExport}}</span>
    </a>
</li>
<li ng-if="dttb.config.table.displayNavPrint"
    title="{{::$root.dataTablarDictionary.titleNavPrint}}">
    <a href="" ng-click="dttb.printTable();">
        <i class="fa fa-print"></i> 
        <span>{{::$root.dataTablarDictionary.navPrint}}</span>
    </a>
</li>
<li ng-if="dttb.config.table.displayNavRefresh"
    title="{{::$root.dataTablarDictionary.titleNavRefresh}}">
    <a href="" ng-click="dttb.refreshTable();">
        <i class="fa fa-refresh"></i> 
        <span>{{::$root.dataTablarDictionary.navRefresh}}</span>
    </a>
</li>
<li ng-if="dttb.config.table.displayNavShare"
    title="{{::$root.dataTablarDictionary.titleNavShare}}">
    <a href="" ng-click="dttb.shareTableUrl();">
        <i class="fa fa-share"></i> 
        <span>{{::$root.dataTablarDictionary.navShare}}</span>
    </a>
</li>
